.media{
    /* padding-top: 200px; */
  padding-bottom: 200px;

  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(3, 3, 3, 0.600),
      rgba(0, 0, 0, 0.600)
    ),
    url(../images/media.png);
  background-color: #474747;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.media__container{
    padding-top: 3rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem, 1.5rem;
    align-items: center;
    text-align: center;
  }
  
  .media__card{
    position: relative;
    background-color: #1e1e1e;
    padding: 1.5rem 1rem 1.5rem;
    border: 2px solid transparent;
    transition: border-color, box-shadow .4s;
    margin-bottom: 2rem;
    border-radius: 12px;
    height: 150px;
    text-align: center;
    border-color: #ffffff5d;
  }
  
  .media__card:hover{
    border-color: #de0202;
  }

  .media__text{
    margin-top: .6rem;

  }

  .media__card i{
    font-size: 3rem;
    color: #fff;
  }

  .media__card i:hover{
    color: #de0202;
  }

  

 


  @media screen and (max-width:479px){
    .media__title{
        font-size: 1rem;
        margin-top: 4rem;
        margin-bottom: 3rem; 
      }

      .media__container{
        padding-top: 3rem;
        grid-template-columns: 290px;
        justify-content: center;
      }
      
      .media__card{
        margin-bottom: 3rem;
      }
    
}

@media screen and (min-width:479px){
    .media__title{
        font-size: 1.5rem;
        margin-top: 6rem;
        margin-bottom: 3rem;
      }

      .media__container{
        padding-top: 3rem;
        grid-template-columns: 450px;
        justify-content: center;
      }

    
}

@media screen and (min-width:748px){
   
}

@media screen and (min-width:768px){
    .media__container{
        grid-template-columns: repeat(2, 335px);
        align-items:start;
      }
    .media__title{
        font-size: 2.5rem;
        margin-top: 4rem;
        margin-bottom: 3rem;
      }

    
}

@media screen and (min-width:1150px){

    .media__title{
        /* margin-top: 4rem; */
        margin-bottom: 4rem;
        font-size: var(--biggest-font-size);
      }

      .media__container{
        grid-template-columns: repeat(2, 335px);
        align-items:start;
      }   
}





