.oklubie{
  /* padding-top: 50px; */
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(3, 3, 3, 0.500),
      rgba(0, 0, 0, 0.500)
    ),
    url(../images/mariusz-1-2000x3000.jpeg);
  background-color: #474747;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.oklubie__container{
  padding: 20px;
}

/* .box {
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
} */

.oklubie__text{
    color: #fff;
    font-size: 1.1rem;
}

.oklubie__text a{
    color: #e42525c3;
    transition: color .4s;
}

.oklubie__text a:hover{
    color: #de0202;
}

@media screen and (max-width:479px){
    .oklubie__title{
        font-size: 1rem;
        margin-top: 4rem;
        margin-bottom: 3rem;
      }

      .box {
        transform: translateX(0%);
        transition: transform 0.4s ease;
      }
      
      .box:nth-of-type(even) {
        transform: translateX(0%);
      }
      
      .box.show {
        transform: translateX(0);
      }
}

@media screen and (min-width:479px){
    .oklubie__title{
        font-size: 1.5rem;
        margin-top: 6rem;
        margin-bottom: 3rem;
      }
}

@media screen and (min-width:748px){
   
}

@media screen and (min-width:768px){
    .oklubie__title{
        font-size: 2.5rem;
        margin-top: 4rem;
        margin-bottom: 3rem;
      }
}

@media screen and (min-width:1150px){
    .oklubie__title{
        /* margin-top: 4rem; */
        margin-bottom: 4rem;
        font-size: var(--biggest-font-size);
      }
}


