.slides__box {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .slides {
    width: 500px;
    height: 400px;
    box-shadow: 10px 8px 22px hsla(0, 0%, 100%, 0.3);
  }
  
  img {
    display: none;
  }
  
  .block {
    display: block;
    object-fit: cover;
    width: 500px;
    height: 400px;
  }

  .next{
    padding: 2px 16px ;
    margin-top: 15px;
    border-radius: 6px;
  }

  .next:hover{
    cursor: pointer;
    background-color: #1a02cb;
    color: #fff;
    box-shadow: 2px 4px 6px hsla(0, 0%, 100%, 0.3);
  }


  