.wpisy{
    /* padding-top: 50px; */
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
  
    /* background-image: linear-gradient(
        to right,
        rgba(3, 3, 3, 0.500),
        rgba(0, 0, 0, 0.500)
      ),
      url(../images/mariusz-1-2000x3000.jpeg); */
    background-color: #1e1c1c;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .wpisy__container{
    padding: 20px;
  }

  .wpisy__color__light{
    background-color: #4d4d4d;
    padding: 30px;
  }

  .wpisy__color__dark{
    background-color: #262626;
    padding: 30px;
  }
  
  /* .box {
    transform: translateX(400%);
    transition: transform 0.4s ease;
  }
  
  .box:nth-of-type(even) {
    transform: translateX(-400%);
  }
  
  .box.show {
    transform: translateX(0);
  } */
  
  .wpisy__text{
      color: #fff;
      font-size: 1.1rem;
  }

  .wpisy__container h2{
    margin-bottom: 30px;
    text-align: center;
  }

  .wpisy__container h3{
    text-align: center;
  }

  .wpisy__container p{
    margin-top: 15px;
  }
  
  .wpisy__text a{
      color: #e42525c3;
      transition: color .4s;
  }
  
  .wpisy__text a:hover{
      color: #de0202;
  }

  .wpisy__link{
    display: block;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    color: var(--color-particles);
    transition: color .4s;
    font-size: 1rem;
  }
  
  .wpisy__link:hover{
    color: var(--first-color-alt);
  }
  
  @media screen and (max-width:479px){
      .wpisy__title{
          font-size: 1rem;
          margin-top: 4rem;
          margin-bottom: 3rem;
        }
  
        .box {
          transform: translateX(0%);
          transition: transform 0.4s ease;
        }
        
        .box:nth-of-type(even) {
          transform: translateX(0%);
        }
        
        .box.show {
          transform: translateX(0);
        }
  }
  
  @media screen and (min-width:479px){
      .wpisy__title{
          font-size: 1.5rem;
          margin-top: 6rem;
          margin-bottom: 3rem;
        }
  }
  
  @media screen and (min-width:748px){
     
  }
  
  @media screen and (min-width:768px){
      .wpisy__title{
          font-size: 2.5rem;
          margin-top: 4rem;
          margin-bottom: 3rem;
        }
  }
  
  @media screen and (min-width:1150px){
      .wpisy__title{
          /* margin-top: 4rem; */
          margin-bottom: 4rem;
          font-size: var(--biggest-font-size);
        }
  }
  
  
  